In [ ]:
create database happy;
use happy;
create table employee(
e_name varchar(20),
e_id int ,
e_salary int,
e_age int,
e_gender varchar(20),
e_dept varchar(20)
);
insert into employee values('nishu',3,2000,20,'male','a');
insert into employee values('vishu',5,2500,25,'male', 'c');
insert into employee values('riya', 7, 3000, 45, 'female','d');
insert into employee values('priya',8,3500,50,'female','e');
insert into employee values('princy',9,4000,55,'female','f');
insert into employee values('kasana',10,4500,60,'female','g');
insert into employee values('ishu',12,5000,70,'male','h');
select* from employee;